body {
	background: url(./images/page-mock.png);
	background-size: 1024px 885px;
	background-repeat: no-repeat;}

.header {
	line-height:29px;
	font-family: Verdana;
	font-size: 37px;
	color: #666666;
	text-align: center;
	padding: 7px 15px 0px 35px;
	margin: 0px;

}

.leftsection img {
	margin-left: 20px;
	width: 371px;
	height: 371px;
}

.leftsection .list {
	margin-top: 24px;
	margin-left: 20px;
	border: 1px #666666;
	width: 371px;
	height: 223px;
	padding-top: 13px;
	padding-left: 30px;
	font-family: Verdana;
}
/*do not know how to do nest for elements*/
h2 {
    color: #f07c17;	
}

ul {
	padding-top: 8px;
	line-height: 32px;
	color: #666666;
}

.leftsection {
	float:left;
    padding: 0px 15px;
    height: 750px;
    width: 409px;
}

.text .header2 {  
    margin-top: -4px;
}

.text p {
	line-height: 32px;
}

.text .para1 {
	padding-top: 9px;
}

.text .para2 {
	margin-top: -6px;
}

.text .para3 {
	margin-top: -6px;
}

.text{
	font-family: Verdana;
	width: 975px;
	text-align: left;
	color: #666666;
}